# Initialization

In [123]:
import pandas as pd

In [124]:
features_path = 'features.csv'
stores_path = 'stores.csv'
train_path = 'train.csv'
test_path = 'test.csv'

df_features = pd.read_csv(features_path, parse_dates=['Date'])
df_stores = pd.read_csv(stores_path)
df_train = pd.read_csv(train_path, parse_dates=['Date'])
df_test = pd.read_csv(test_path, parse_dates=['Date'])

# Data Understanding

## Train Data

In [125]:
df_train.head()

   Store  Dept       Date  Weekly_Sales  IsHoliday
0      1     1 2010-02-05      24924.50      False
1      1     1 2010-02-12      46039.49       True
2      1     1 2010-02-19      41595.55      False
3      1     1 2010-02-26      19403.54      False
4      1     1 2010-03-05      21827.90      False

In [126]:
df_train.count

<bound method DataFrame.count of         Store  Dept       Date  Weekly_Sales  IsHoliday
0           1     1 2010-02-05      24924.50      False
1           1     1 2010-02-12      46039.49       True
2           1     1 2010-02-19      41595.55      False
3           1     1 2010-02-26      19403.54      False
4           1     1 2010-03-05      21827.90      False
...       ...   ...        ...           ...        ...
421565     45    98 2012-09-28        508.37      False
421566     45    98 2012-10-05        628.10      False
421567     45    98 2012-10-12       1061.02      False
421568     45    98 2012-10-19        760.01      False
421569     45    98 2012-10-26       1076.80      False

[421570 rows x 5 columns]>

In [127]:
df_train.dtypes

Store                    int64
Dept                     int64
Date            datetime64[ns]
Weekly_Sales           float64
IsHoliday                 bool
dtype: object

## Features Data

In [128]:
df_features.head()

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,1,2010-02-05,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
1,1,2010-02-12,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
2,1,2010-02-19,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,False
3,1,2010-02-26,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,False
4,1,2010-03-05,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,False

In [129]:
df_features.count

<bound method DataFrame.count of       Store       Date  Temperature  Fuel_Price  MarkDown1  MarkDown2  \
0         1 2010-02-05        42.31       2.572        NaN        NaN
1         1 2010-02-12        38.51       2.548        NaN        NaN
2         1 2010-02-19        39.93       2.514        NaN        NaN
3         1 2010-02-26        46.63       2.561        NaN        NaN
4         1 2010-03-05        46.50       2.625        NaN        NaN
...     ...        ...          ...         ...        ...        ...
8185     45 2013-06-28        76.05       3.639    4842.29     975.03
8186     45 2013-07-05        77.50       3.614    9090.48    2268.58
8187     45 2013-07-12        79.37       3.614    3789.94    1827.31
8188     45 2013-07-19        82.84       3.737    2961.49    1047.07
8189     45 2013-07-26        76.06       3.804     212.02     851.73

      MarkDown3  MarkDown4  MarkDown5         CPI  Unemployment  IsHoliday
0           NaN        NaN        NaN  211.096358         8.106      False
1           NaN        NaN        NaN  211.242170         8.106       True
2           NaN        NaN        NaN  211.289143         8.106      False
3           NaN        NaN        NaN  211.319643         8.106      False
4           NaN        NaN        NaN  211.350143         8.106      False
...         ...        ...        ...         ...           ...        ...
8185       3.00    2449.97    3169.69         NaN           NaN      False
8186     582.74    5797.47    1514.93         NaN           NaN      False
8187      85.72     744.84    2150.36         NaN           NaN      False
8188     204.19     363.00    1059.46         NaN           NaN      False
8189       2.06      10.88    1864.57         NaN           NaN      False

[8190 rows x 12 columns]>

In [130]:
df_features.dtypes

Store                    int64
Date            datetime64[ns]
Temperature            float64
Fuel_Price             float64
MarkDown1              float64
MarkDown2              float64
MarkDown3              float64
MarkDown4              float64
MarkDown5              float64
CPI                    float64
Unemployment           float64
IsHoliday                 bool
dtype: object

## Stores Data

In [131]:
df_stores.head()

   Store Type    Size
0      1    A  151315
1      2    A  202307
2      3    B   37392
3      4    A  205863
4      5    B   34875

In [132]:
df_stores.count

<bound method DataFrame.count of     Store Type    Size
0       1    A  151315
1       2    A  202307
2       3    B   37392
3       4    A  205863
4       5    B   34875
5       6    A  202505
6       7    B   70713
7       8    A  155078
8       9    B  125833
9      10    B  126512
10     11    A  207499
11     12    B  112238
12     13    A  219622
13     14    A  200898
14     15    B  123737
15     16    B   57197
16     17    B   93188
17     18    B  120653
18     19    A  203819
19     20    A  203742
20     21    B  140167
21     22    B  119557
22     23    B  114533
23     24    A  203819
24     25    B  128107
25     26    A  152513
26     27    A  204184
27     28    A  206302
28     29    B   93638
29     30    C   42988
30     31    A  203750
31     32    A  203007
32     33    A   39690
33     34    A  158114
34     35    B  103681
35     36    A   39910
36     37    C   39910
37     38    C   39690
38     39    A  184109
39     40    A  155083
40     41    A  196321
41     42    C   39690
42     43    C   41062
43     44    C   39910
44     45    B  118221>

In [133]:
df_stores.dtypes

Store     int64
Type     object
Size      int64
dtype: object

## Test

In [134]:
df_test.head()

   Store  Dept       Date  IsHoliday
0      1     1 2012-11-02      False
1      1     1 2012-11-09      False
2      1     1 2012-11-16      False
3      1     1 2012-11-23       True
4      1     1 2012-11-30      False

In [135]:
df_test.count

<bound method DataFrame.count of         Store  Dept       Date  IsHoliday
0           1     1 2012-11-02      False
1           1     1 2012-11-09      False
2           1     1 2012-11-16      False
3           1     1 2012-11-23       True
4           1     1 2012-11-30      False
...       ...   ...        ...        ...
115059     45    98 2013-06-28      False
115060     45    98 2013-07-05      False
115061     45    98 2013-07-12      False
115062     45    98 2013-07-19      False
115063     45    98 2013-07-26      False

[115064 rows x 4 columns]>

In [136]:
df_test.dtypes

Store                 int64
Dept                  int64
Date         datetime64[ns]
IsHoliday              bool
dtype: object

In [137]:
# Data Analysis

In [138]:
# Merge datasets
df_train_full = df_train \
    .merge(df_features.drop(columns=['IsHoliday'], inplace=False), 
           on=['Date', 'Store'], how='inner') \
    .merge(df_stores, on=['Store'], how='inner')

In [139]:
# Weekly Sales Distribution Analysis
weekly_sales_description = df_train_full['Weekly_Sales'].describe()
weekly_sales_description

count    421570.000000
mean      15981.258123
std       22711.183519
min       -4988.940000
25%        2079.650000
50%        7612.030000
75%       20205.852500
max      693099.360000
Name: Weekly_Sales, dtype: float64

In [140]:
# Average Weekly Sales by Store
average_weekly_sales_by_store = df_train_full.groupby('Store')['Weekly_Sales'].mean().sort_values(ascending=False)
average_weekly_sales_by_store.head()

Store
20    29508.301592
4     29161.210415
14    28784.851727
13    27355.136891
2     26898.070031
Name: Weekly_Sales, dtype: float64

In [141]:
# Weekly Sales Over Time
weekly_sales_over_time = df_train_full[['Date', 'Weekly_Sales']].groupby('Date').mean()
weekly_sales_over_time.head()

            Weekly_Sales
Date
2010-02-05  16836.121997
2010-02-12  16352.056032
2010-02-19  16216.658979
2010-02-26  14899.549688
2010-03-05  15921.015727

In [142]:
# Impact of Holiday Weeks on Weekly Sales
holiday_sales = df_train_full[df_train_full['IsHoliday'] == True]['Weekly_Sales'].mean()
non_holiday_sales = df_train_full[df_train_full['IsHoliday'] == False]['Weekly_Sales'].mean()

print(f"Holiday Sales : ${holiday_sales:,.2f}")
print(f"Non Holiday Sales : ${non_holiday_sales:,.2f}")

Holiday Sales : $17,035.82
Non Holiday Sales : $15,901.45

In [143]:
# Weekly Sales Patterns by Store Type

average_sales_by_store_type = df_train_full.groupby('Type')['Weekly_Sales'].mean().reset_index()
average_sales_by_store_type.columns = ['Store Type', 'Average Weekly Sales']

average_sales_by_store_type

  Store Type  Average Weekly Sales
0          A          20099.568043
1          B          12237.075977
2          C           9519.532538